package views

import (
"gl/models"
"strconv"
)

templ JournalEntryForm(header, msg string, journal models.Journal, accounts []models.Account) {
<div class="container">
  <div class="d-flex justify-content-center">
    <h1 class="m-4 heading">{ header }</h1>
  </div>
  <!-- centered heading with background -->

  <form action="/journal/save" method="post">
    <input type="hidden" name="created_by" value={ strconv.FormatInt(journal.CreatedBy, 10) } />
    if journal.ID != nil {
    <input type="hidden" name="id" value={ strconv.FormatInt(*journal.ID, 10) } />
    }
    <div class="row mb-3">
      <div class="col-md-4">
        <label for="entry-date" class="form-label">Date</label>
        <input type="date" id="journal-date" name="journal-date" class="form-control" required value={
          journal.JournalDate.Format("2006-01-02") } />
      </div>
      <div class="col-md-4">
        <label for="journal-number" class="form-label">Reference</label>
        if journal.JournalNumber != nil {
        <input type="text" id="journal-number" name="journal-number" readonly class="form-control"
          value={*journal.JournalNumber } />
        }else{
        <input type="text" id="journal-number" name="journal-number" class="form-control" />
        }
      </div>
      {}

    </div>
    <div class="row mb-3 align-items-center">
      <div class="col-md-2">
        <label for="description" class="col-form-label">Summary Description</label>
      </div>
      <div class="col-md-10">
        <input type="text" name="description" id="description" class="form-control" required value={ journal.Description
          } />
      </div>
    </div>
    <table class="table table-bordered table-primary" id="journal-lines">
      <thead class="primary">
        <tr>
          <th style="width: 25%;">Account</th>
          <th style="width: 35%;">Description</th>
          <th style="width: 20%;">Debit</th>
          <th style="width: 20%;">Credit</th>
        </tr>
      </thead>
      <tbody id="tbody">
        if len(journal.Lines) == 0 {
        <tr>
          <td>
            <select name="accounts_id[]" class="form-select account" aria-label="Default select example">
              <option value="">Select Account</option>
              for _, account := range accounts {
              <option value={ strconv.FormatInt(account.Id, 10) }>{ account.AccountCode } - { account.AccountName }
              </option>
              }
            </select>
          </td>
          <td><input type="text" name="line_description[]" class="form-control description" required /></td>
          <td><input type="number" name="debit[]" class="form-control debit" /></td>
          <td><input type="number" name="credit[]" class="form-control credit" /></td>
        </tr>

        } else {
        for _, item := range journal.Lines {
        <tr>
          <td>
            <select name="accounts_id[]" class="form-select account" aria-label="Default select example">
              <option value="">Select Account</option>
              for _, account := range accounts {
              if account.Id == item.AccountID {
              <option selected value={ strconv.FormatInt(account.Id, 10) }>{ account.AccountCode } - {
                account.AccountName }
              </option>

              }else{
              <option value={ strconv.FormatInt(account.Id, 10) }>{ account.AccountCode } - { account.AccountName }
              </option>
              }
              }
            </select>
          </td>
          <td><input type="text" name="line_description[]" class="form-control description" required value={
              item.Description } />
          </td>
          <td><input type="number" step="0.00" name="debit[]" class="form-control debit" value={ item.Debit.String()
              } /></td>
          <td>
            <input type="number" name="credit[]" class="form-control credit" value={ item.Credit.String() } />
          </td>

        </tr>
        }

        }
        <tr id="balance-row" class="table-primary">
          <td></td>
          <td class="text-primary" style="padding: 17px;"><strong>Balance</strong></td>
          <td><input type="number" name="debit-bal" class="form-control" readonly value="0.00" tabindex="-1" /></td>
          <td><input type="number" name="credit-bal" class="form-control" readonly value="0.00" tabindex="-1" /></td>
        </tr>
      </tbody>
    </table>
    <span class="text-danger">{ msg }</span>
    <div class="mb-3 p-3 border">

      <div class="row text-center">
        <div class="col-md-6">
          <button type="button" id="add-line" class="btn btn-primary w-50">Add Line</button>
        </div>
        <div class="col-md-6 d-none" id="save-status">
          <button type="button" class="btn btn-success w-50">Save</button>
        </div>
      </div>

    </div>

  </form>
</div>

}