package views


templ Layout(nav templ.Component, data PageData, content templ.Component) {
<html>

<head>
	<title>{ data.Title }</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
	<style>
		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
			text-align: right;
		}

		input[type=number] {
			-moz-appearance: textfield;
			/* Firefox */
			text-align: right;
		}



		.heading {
			text-align: center;
			text-transform: uppercase;
			padding: 5px 20px 5px 20px;
			border-radius: 5px;
			border: 4px solid rgb(237, 139, 11);
			background-color: antiquewhite;

		}
	</style>
</head>

<body>
	@Nav(data.Menus)
	<main>
		@content
	</main>
	@Footer()
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"></script>

	<script src="/static/js/journalEntry.js"></script>


</body>

</html>
}