package views


templ Layout(nav templ.Component, attr LayoutAttribute, content templ.Component) {
<html>

<head>
	<title>{ attr.PageTitle }</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

	<link rel="stylesheet" href="/static/css/styles.css?v=1.01">

	<link rel="icon" type="image/png" href="/static/icons/gl.png" />

</head>

<body>
	if nav != nil {
	@nav
	}

	<main>
		@content
	</main>
	@Footer()
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

	if attr.Script != nil {
	<script src={*attr.Script}></script>
	}


</body>

</html>
}