package views

import "gl/models"
import "strconv"

templ Period(p models.Period) {
<div class="d-flex vh-100 justify-content-center align-items-center">
    <div class="card shadow p-4" style="min-width: 350px; max-width: 400px; width: 100%;">
        <h1 class="text-center text-uppercase mb-4">New Period</h1>

        <form method="post" action="/period">
            if p.Id != nil {
            <input type="hidden" name="id" value={ strconv.FormatInt(int64(*p.Id), 10) } />
            }
            <div class="mb-3">
                <label for="period_name" class="form-label">Period Name</label>
                <input type="text" class="form-control" id="period_name" name="period_name" value={p.PeriodName} />
            </div>
            <div class="mb-3">
                <label for="start_date" class="form-label">Start Date</label>
                <input type="date" class="form-control" id="start_date" name="start_date"
                    value={p.StartDate.Format("2006-01-02")} />
            </div>
            <div class="mb-3">
                <label for="end_date" class="form-label">End Date</label>
                <input type="date" class="form-control" id="end_date" name="end_date"
                    value={p.EndDate.Format("2006-01-02")} />
            </div>
            <button type="submit" class="btn btn-primary w-100">Save</button>
        </form>
    </div>
</div>
}